@import '@/variables';

.page {
  h1 {
    color: $ung-light-blue;
    font-size: 2.5rem;
    margin-bottom: 3px;
  }

  > p {
    color: $ung-dark-grey;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .divider {
    width: 40%;
    height: 3px;
    background-color: $ung-light-grey;
    margin-top: 10px;
  }

  .info {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;

    .generalInfo,
    .workTime,
    .takeUEInfo {
      border: $ung-dark-grey 3px solid;
      border-radius: 20px;
      padding: 3rem;

      & > h2 {
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
  }

  .exams {
    background-color: $light-gray;
    border-radius: 20px;
    padding: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    .list {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.8rem;

      .semester {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.1rem;

        .entry {
          padding: 0.25rem;
          border-radius: 0.25rem;
          background-color: $very-light-gray;
          cursor: pointer;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          gap: 2ch;

          &[data-status~='unverified'] {
            background-color: $gray-pastel-color;
          }

          &[data-status~='processing'] {
            cursor: not-allowed;
            background-color: $orange-pastel-color;
          }

          &[data-status~='deleted'] {
            background-color: $red-pastel-color;
          }

          .type,
          .author {
            user-select: none;

            .status {
              display: inline-block;
              vertical-align: sub;
              width: 1em;
            }
          }

          .author {
            color: $ung-light-grey;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .thoughts {
    & > h2 {
      margin-bottom: 1rem;
      color: $ung-light-blue;
    }

    .rates {
      display: flex;
      flex-wrap: wrap;
      gap: 10%;
      justify-content: center;

      .criterion {
        margin-top: 30px;

        h3 {
          text-align: center;
          margin-bottom: 1rem;
          color: $ung-light-blue;
        }
      }
    }
  }

  .writeComment {
    margin-top: 2rem;

    textarea {
      resize: vertical;
      width: 100%;
      margin-top: 0.3rem;
    }

    button {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}
