# The environment in which we are running the application.
# Possible values are development and production.
NODE_ENV=development

# The base URL to the API.
NEXT_PUBLIC_API_URL=http://localhost:3000

# The version of the API, will be concatenated to the API base URL.
NEXT_PUBLIC_API_VERSION=v1

# The timeout when doing API requests, in milliseconds.
NEXT_PUBLIC_API_REQUEST_TIMEOUT=10000

# The URL of the CAS service. It's the URL the user will be redirected to after the CAS connection.
NEXT_PUBLIC_CAS_SERVICE=https://etu.utt.fr/dummyurl

# The application id of the website of EtuUTT
NEXT_PUBLIC_ETUUTT_WEB_APPLICATION_ID=

# The number of seconds that the authorization token will be available
NEXT_PUBLIC_AUTHORIZATION_TOKEN_EXPIRES_IN=3600*24*30

# Asso infos
NEXT_PUBLIC_ASSOCIATION_NAME='ASS UTT NET GROUP'
NEXT_PUBLIC_ASSOCIATION_RNA='W103000699'
NEXT_PUBLIC_ASSOCIATION_RCS='500164249'
NEXT_PUBLIC_ASSOCIATION_ADDRESS='12 rue Marie Curie, 10000 Troyes'
NEXT_PUBLIC_ASSOCIATION_PHONE='03 25 71 85 50'
NEXT_PUBLIC_ASSOCIATION_EMAIL='ung@utt.fr'

# Data Protection Officer
NEXT_PUBLIC_DPO_EMAIL='ung@utt.fr'
NEXT_PUBLIC_DPO_NAME="Guillaume Etheve"

# Publication director
NEXT_PUBLIC_PUBLICATION_DIRECTOR="Alban Souchard de Lavoreille"

# Legals updates
NEXT_PUBLIC_LAST_TERMS_UPDATE='02/04/2024'
NEXT_PUBLIC_LAST_PRIVACY_POLICY_UPDATE='02/04/2024'