# The environment in which we are running the application.
# Possible values are development and production.
NODE_ENV=development

# The base URL to the API.
NEXT_PUBLIC_API_URL=http://localhost:3000

# The version of the API, will be concatenated to the API base URL.
NEXT_PUBLIC_API_VERSION=v1

# The timeout when doing API requests, in milliseconds.
NEXT_PUBLIC_API_REQUEST_TIMEOUT=10000

# The URL of the CAS service. It's the URL the user will be redirected to after the CAS connection.
NEXT_PUBLIC_CAS_SERVICE=https://etu.utt.fr/dummyurl

# The number of seconds that the authorization token will be available
NEXT_PUBLIC_AUTHORIZATION_TOKEN_EXPIRES_IN=3600*24*30
