@use '@/themes' as theme;

.exams {
  @include theme.grey-n-white;
  @include theme.text-dark;
  border-radius: 20px;
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  .list {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;

    .semester {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.1rem;

      .entry {
        @include theme.background-light;
        padding: 0.25rem;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 2ch;

        &[data-status~='unverified'] {
          @include theme.pastel-gray;
        }

        &[data-status~='processing'] {
          cursor: not-allowed;
          @include theme.pastel-orange;
        }

        &[data-status~='deleted'] {
          @include theme.pastel-red;
        }

        .type,
        .author {
          user-select: none;

          .status {
            display: inline-block;
            vertical-align: sub;
            width: 1em;
          }
        }

        .author {
          @include theme.text-light;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .sendButton {
    margin-top: 1em;
  }
}
