@use '@/themes' as theme;

.widget {
  .user {
    @include theme.shadow(0 0 10px -5px);
    padding: 20px;
    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .name {
      @include theme.text-dark;
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 0.7rem;
    }

    .age {
      @include theme.text-light;
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}
