.widgetRenderer {
  .widgetResizer {
    position: absolute;
    resize: both;
    overflow: auto;
    transition: all .03s linear;

    .widgetDragger {
      width: 100%;
      height: 100%;
    }
  }

  .fakeElement {
    position: absolute;
    background-color: rgba(yellow, 0.3);
    border: 1px solid yellow;
    z-index: 3;
    transition: all .1s linear;

    & > * {
      pointer-events: none;
    }
  }
}