@import '@/variables';

.widget {
  padding: 15px 10px;
  border: 2px #E7E7E7 solid;
  border-radius: 30px;

  .title {
    color: $ung-dark-grey;
    font-family: Lexend;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .subtitle {
    color: $ung-light-blue;
    font-weight: 900;
    margin-bottom: 20px;
  }
}