@import '@/variables';
@import '@/components/glimmer.scss';

.headerCard {
  background: white;
  padding: 3ch;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  gap: 2ch;
  border-radius: 1ch;

  & > .edit {
    position: absolute;
    right: 3ch;
    top: 3ch;
    padding: 4px 8px !important;
    border-radius: calc(1em + 4px) !important;
  }

  & > img {
    width: 12ch;
    height: 12ch;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
  }

  .details {
    display: flex;
    flex-flow: column nowrap;
    gap: 2ch;
    justify-content: space-between;

    h1:empty,
    & > div:empty,
    .actionRow div:empty {
      @extend .glimmer-animated;
      width: 16ch;
      height: 0.8em;
      margin-top: 0.2em;
      margin-bottom: 0.2em;

      &:nth-child(2) {
        width: 48ch;
      }
    }

    .actionRow {
      display: flex;
      flex-flow: row wrap;
      gap: 3ch;

      svg + div {
        display: inline-block;
        vertical-align: super;
        margin-left: 0.5ch;
      }

      :nth-child(1) div:empty {
        width: 12ch;
      }
      :nth-child(2) div:empty {
        width: 18ch;
      }
      :nth-child(3) div:empty {
        width: 10ch;
      }
    }
  }

  img {
    background: rgba($color: $ung-light-grey, $alpha: 0.2);
  }
}

.membersCard {
  background: white;
  margin-top: 3ch;
  padding: calc(3ch - 2px);
  display: flex;
  flex-flow: column nowrap;
  gap: 1ch;
  border-radius: 1ch;
  border: 2px solid transparent;

  &.editMode {
    border: 2px dashed $ung-light-blue;
    background: rgba($color: $ung-light-blue, $alpha: 0.1);

    & > div {
      cursor: grab;
      background-color: color-mix(in srgb, $ung-light-blue 20%, $very-light-gray 80%);
      border-radius: 10px;
    }

    & > [aria-pressed] {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  h2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .actionRow {
      display: flex;
      flex-flow: row wrap;
      gap: 1ch;
      align-items: center;
    }

    .toggleOldMembers {
      font-size: 0.8em;
      padding: 4px 8px;
      border-radius: calc(0.5em + 4px);
    }
  }

  > div {
    padding: 1ch 10px;
  }

  :has(> :not(path):nth-child(2):empty) {
    display: none;
  }

  &.editMode :has(> :not(path):nth-child(2):empty) {
    display: block;
  }
}
