@import '@/variables';
@import '@/components/glimmer.scss';

.headerCard {
  background: white;
  padding: 3ch;
  display: flex;
  flex-flow: row nowrap;
  gap: 2ch;
  border-radius: 1ch;

  & > img {
    width: 12ch;
    height: 12ch;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
  }

  .details {
    display: flex;
    flex-flow: column nowrap;
    gap: 2ch;
    justify-content: space-between;

    .actionRow {
      display: flex;
      flex-flow: row wrap;
      gap: 3ch;

      svg + div {
        display: inline-block;
        vertical-align: super;
        margin-left: 0.5ch;
      }
    }
  }

  img {
    background: rgba($color: $ung-light-grey, $alpha: 0.2);
  }

  h1:empty,
  div:empty {
    @extend .glimmer-animated;
    width: 16ch;

    &:nth-child(2) {
      width: 8ch;
    }
    &:nth-of-type(2) {
      width: 18ch;
    }
    &:nth-of-type(3) {
      width: 15ch;
    }
    &:nth-of-type(4) {
      width: 10ch;
    }
  }
}
