@import '@/variables';

.loginForm {
  justify-content: center;
  padding: 50px 50px 30px;
  background-color: white;
  border-radius: 20px;

  > * {
    display: block;
  }

  .logo {
    height: 70px;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: $ung-dark-grey;

    .bluePart {
      color: $blue;
    }
  }

  > input {
    margin-top: 25px;
    width: 100%;
  }

  .registerLink {
    margin: 10px auto 0;
  }

  .connectButton {
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
  }
}
