@import '@/variables.scss';
@import '@/components/glimmer.scss';

.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    gap: 30px;
    margin-top: 5vh;
    flex-grow: 1;
    min-height: 0;

    > * {
      background-color: white;
      border-radius: 15px;
      border: #e7e7e7 solid 1px;
      padding: 1rem;
      overflow-y: scroll;
    }

    .results {
      flex-grow: 1;
      height: 100%;

      .glimmer {
        p,
        h2 {
          @extend .glimmer-animated;
          &:nth-child(2) {
            width: 24ch;
          }
        }
        h2 {
          height: 1.02em;
          margin: 0.1em 0 0.2em 0;
          background-size: 115% 1.02em;
        }
      }
    }
  }
}
