@use '@/themes' as theme;

.cookies {
  @include theme.black-n-white-reverse;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 25%;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.5rem;
  z-index: 1000;

  .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1224px) {
  .cookies {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .cookies {
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
  }
}
