@import '@/variables.scss';

.navigation {
  background-color: $ung-dark-grey;
  color: $navigation-text-color;
  height: 100dvh;
  width: clamp(350px, 20%, 400px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.collapsed {
    width: 80px;

    .profile > div {
      opacity: 0;
    }
  }
}

.category {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  transition: all 250ms ease-in-out;
  overflow: hidden;
  position: relative;
  justify-content: flex-start;

  .collapsed & {
    opacity: 0;
  }

  &.containerOpen .buttonContent svg {
    transform: rotate(90deg);
  }

  &.containerClose {
    max-height: calc(2rem + 20px) !important;
  }

  .buttonContent {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    gap: 10px;
    flex: 1 0 auto;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;

    svg {
      flex: 0 0 auto;
      height: 1.5rem;
      transition: transform 250ms ease-in-out;
    }
    .name {
      text-transform: uppercase;
    }
  }

  .indent-0 {
    padding-left: 15px;
  }

  @for $i from 1 through 8 {
    .indent-#{$i} {
      padding-left: calc($i * 1.5rem + 30px);
    }
  }
}

.bottom {
  margin-top: auto;

  .guest {
    position: relative;

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      opacity: 1;
      position: absolute;
      width: 100%;
      bottom: 0;
      transition: all 250ms ease-out;
    }

    .navigationLink {
      opacity: 0;
      pointer-events: none;
      transition: all 400ms ease-in-out;
    }

    .collapsed & {
      .buttons {
        opacity: 0;
        pointer-events: none;
      }

      .navigationLink {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    > img {
      min-width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    .infos {
      display: flex;
      flex-direction: column;
      width: calc(100% - 7.75rem);

      > .name {
        font-weight: 500;
        color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      > .role {
        font-size: 0.825rem;
        color: $navigation-link-color;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .language {
        position: relative;
        
        .languageSelector {
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: $ung-light-grey;
          border-radius: 0.5rem;
          margin-bottom: 1rem;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          opacity: 0;
          pointer-events: none;
          transition: all 200ms ease-in-out;

          &.open {
            opacity: 1;
            pointer-events: all;
          }

          // Bottom arrow
          &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $ung-light-grey;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
          }

          div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            input[type='radio'] {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              cursor: pointer;
              width: 100%;
              padding: 0.5rem;
              transition: all 200ms ease-in-out;

              &:hover {
                background-color: $ung-light-grey;
              }
            }
          }
        }
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.navigationLogo {
  color: $navigation-text-color;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  margin-bottom: 30px;
  cursor: pointer;

  .navigationIcons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transition: all 200ms ease-in-out;
    }

    svg:first-child {
      opacity: 0;
      position: absolute;
    }

    svg:last-child {
      opacity: 1;
    }

    .collapsed & {
      svg:first-child {
        opacity: 1;
      }

      svg:last-child {
        opacity: 0;
      }
    }
  }

  > div {
    display: flex;
    align-items: center;
  }

  svg {
    min-width: 2rem;
    height: 2rem;
    margin-right: 8px;
  }

  .collapsed & span {
    opacity: 0;
  }
}

.separator {
  height: 1px;
  background-color: $navigation-link-color;
  border-radius: 1rem;
  margin: 1rem 0.75rem;

  .navigation__collapsed & {
    opacity: 0;
  }
}

.navigationLink {
  color: $navigation-link-color;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  height: 2.875rem; // 46px
  line-height: 2.875rem;
  border-radius: 0.425rem;
  text-decoration: none;
  white-space: nowrap;

  > svg {
    min-width: 2rem;
    height: 1.5rem;
  }

  > span {
    margin-left: 0.5rem;

    .collapsed & {
      padding: 0.5rem;
      line-height: 1;
      border-radius: 0.425rem;
      color: $navigation-item-tooltip-color;
      transition: all 100ms ease-in;
      box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
      pointer-events: none;
      position: absolute;
      left: 48px;
      opacity: 0;

      &::before {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 7px solid $navigation-text-color;
        border-bottom: 5px solid transparent;
        left: -7px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &:hover {
    background-color: $ung-light-grey;
    color: $navigation-text-color;

    .collapsed & > span {
      position: absolute;
      opacity: 1 !important;
      font-size: 0.875rem;
      transform: translateX(4px);
      background: $navigation-text-color;
      left: 60px;

      &::before {
        content: '';
      }
    }
  }
}

// Use a different navbar layout for smaller screens
@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}
