@import '@/variables.scss';

.navigation {
  background-color: $ung-dark-grey;
  color: $white;
  height: 100dvh;
  width: clamp(250px, 20%, 350px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: all 200ms cubic-bezier(0.350, -0.355, 0.615, 1.315);
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    >img {
      min-width: 2.75rem;
      height: 2.75rem;
      border-radius: 50%;
    }

    >div {
      display: flex;
      flex-direction: column;
      min-width: 200px;

      >.name {
        font-weight: 500;
        color: white;
      }

      >.role {
        font-size: 0.825rem;
        color: $navigation-link-color;
      }
    }
  }

  &__collapsed {
    width: 80px;

    .profile>div {
      opacity: 0;
    }
  }
}

.navigationLogo {
  color: $white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 8px;
  margin-bottom: 30px;
  cursor: pointer;

  >svg {
    min-width: 2rem; 
    height: 2rem;
    margin-right: 8px;
  }

  .navigation__collapsed & >span {
    opacity: 0;
  }
}

.navigationLink {
  display: block;
  color: $navigation-link-color;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  height: $navigation-item-height;
  line-height: $navigation-item-height;
  border-radius: $navigation-item-border-radius;
  text-decoration: none;
  white-space: nowrap;

  >svg {
    min-width: 2rem; 
    height: 1.5rem;
  }

  >span {
    margin-left: 12px;

    .navigation__collapsed & {
      padding: 0.5em;
      line-height: 1;
      border-radius: ceil($navigation-item-border-radius / 2);
      color: $navigation-item-tooltip-color;
      transition: all 100ms ease-in-out;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
      pointer-events: none;
      position: absolute;
      left: 48px;
      opacity: 0;

      &::before {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 7px solid $white;
        border-bottom: 5px solid transparent;
        left: -7px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &:hover {
    background-color: $ung-light-grey;
    color: $white;

    .navigation__collapsed & >span {
      position: absolute;
      opacity: 1 !important;
      font-size: 0.875rem;
      transform: translateX(4px);
      background: $white;
      left: 60px;

      &::before {
        content: "";
      }
    }
  }
}