@import '@/variables.scss';

.navbar {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: $ung-dark-grey;
  width: 28%;
  max-width: 450px;
  overflow-x: hidden;
  font-size: 2rem;
  color: white;
  border-right: 10px solid $ung-light-blue;
  transition: max-width 0.2s ease-in-out;

  .collapseIcon {
    display: block;
    height: 2rem;
    width: 2rem;
    position: relative;
    padding: 20px 20px 15px;
    cursor: pointer;
    color: $ung-light-blue;

    svg {
      display: inline-block;
      height: 100%;
    }
  }

  .menuing {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;

    .button {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;

      &.link {
        color: white;
        text-decoration: none;
      }

      &.category {
        transition: all 0.25s ease-in-out;
        overflow: hidden;
        position: relative;
        justify-content: start;

        &.containerOpen .buttonContent svg {
          transform: rotate(90deg);
        }

        &.containerClose {
          max-height: calc(2.5rem + 30px) !important;
        }
      }

      .buttonContent {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
        gap: 15px;
        flex: 1 0 auto;
        padding: 15px 20px;
        box-sizing: border-box;
        cursor: pointer;

        svg {
          flex: 0 0 auto;
          height: 2rem;
          transition: transform 0.25s ease-in-out;
        }
        .name {
          text-transform: uppercase;
        }
      }

      .indent-0 {
        padding-left: 20px;
      }
      @for $i from 1 through 8 {
        .indent-#{$i} {
          padding-left: calc($i * 2rem + 35px);
        }
      }
    }

    .separator {
      margin: 35px 0;
      background-color: $ung-light-blue;
      width: 80%;
      align-self: center;
      box-sizing: border-box;
      height: 3px;

      & ~ .button .name {
        text-transform: unset;
      }
    }
  }

  .profile {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    padding: 30px;
    transition: padding 0.15s ease-in-out;

    .roundIcon {
      flex: 0 0 auto;
      width: 3.15rem;
      height: 3.15rem;
      overflow: hidden;
      border-radius: 1.64rem;
      background-color: $ung-light-grey;
    }

    .name {
      display: block;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &.collapsed {
    max-width: calc(2rem + 40px);

    .collapseIcon {
      color: white;
    }

    .name,
    .separator,
    .separator ~ .button {
      display: none;
    }

    .profile {
      padding: 10px 10px 20px;
    }
  }
}
