.icons {
  display: flex;
  justify-content: center;

  .starWrapper {
    position: relative;

    & > svg {
      width: 24px;
      height: 24px;
      margin: 3px 3px;
      stroke: black;
      fill: gold;
      transition: all 0.1s linear;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      mix-blend-mode: color;
      width: calc(100% * (1 - var(--filled)));
      background-color: white;
    }

    &.hoverEffect:hover, &:has(~ .hoverEffect:hover) {
      & > svg {
        width: 30px;
        height: 30px;
        margin: 0;
      }

      &:after {
        width: 0;
      }
    }
  }
}