@use '@/themes' as theme;

.goTo {
  @include theme.background-dark-alpha(0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15vh 25% 0 25%;
  z-index: 1000;

  &.hidden {
    display: none;
  }

  .input {
    width: 100%;
  }

  .results {
    .result {
      @include theme.black-n-white;
      display: block;
      margin: 3px 0;
      padding: 5px;
      border-radius: 5px;

      * {
        border: none;
      }

      &.selected {
        @include theme.black-n-white-reverse;
      }

      &:hover {
        @include theme.black-n-white-select;

        &.selected {
          @include theme.black-n-white-reverse-select;
        }
      }

      font-weight: bold;
    }
  }
}
