$ung-light-blue: #2d8fce;
$ung-light-grey: #444c5f;
$ung-dark-grey: #2e3442;
$light-gray: #f0f0f0;


// NAVBAR :

$navigation-text-color: #ffffff;
$navigation-link-color: #b5b6bb;
$navigation-item-tooltip-color: #6b6b6b;