$ung-light-blue: #2d8fce;
$ung-light-grey: #444c5f;
$ung-dark-grey: #2e3442;
$light-gray: #f0f0f0;


// NAVBAR : 

$white: #ffffff;
$navigation-background-color: #030303;
$navigation-link-color: #b5b6bb;
$navigation-link-hover-background-color: #313239;
$navigation-item-height: 45px;
$navigation-item-border-radius: 5px;
$navigation-item-tooltip-color: #6b6b6b;