@use '@/themes' as theme;

.filtersBar {
  h2 {
    @include theme.text-dark;
    text-transform: uppercase;
    font-weight: 900;
  }

  .filter {
    margin: 2rem 0;
    //overflow-y: scroll;
  }
}
