@import '@/variables.scss';

.filter {
  .title {
    color: $ung-light-grey;
    margin-bottom: 0.75rem;
  }

  .input {
    display: flex;
    border-radius: 10px;
    width: max-content;

    svg {
      height: 100%;
      width: 54px;
      padding: 3px;
      color: $ung-light-blue;
    }

    &:focus-within {
      background-color: $ung-light-blue;

      svg {
        color: white;
      }
    }
  }
}
