@use '@/themes' as theme;

.button.noStyle {
  background: none;
  border: none;
  padding: 0;
}

.button:not(.noStyle) {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--background);
  color: var(--foreground);

  &.background-blue {
    @include theme.variable('blue');
  }

  &.background-white {
    @include theme.variable('white');
  }

  &:hover {
    @include theme.variable('dark');
    background-color: color-mix(in srgb, var(--background) 90%, var(--dark));
    cursor: pointer;
  }

  &:disabled {
    @include theme.disabled;
    cursor: not-allowed;
  }
}
