@import '@/variables';

.button {
  background-color: $blue;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  font-size: 1.5rem;

  &:hover {
    background-color: mix($blue, black, 90%);
    cursor: pointer;
  }
}