@use '@/themes' as theme;

.inputWrapper {
  @include theme.grey-n-white;
  @include theme.border(3px solid);
  display: flex;
  border-radius: 10px;

  input {
    @include theme.grey-n-white;
    border-radius: 7px;
    padding: 10px 15px;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  svg {
    @include theme.text-blue;
    height: 100%;
    width: 40px;
    padding: 5px 8px 5px 11px;
  }

  &:focus-within {
    @include theme.text-blue;
    background-color: currentColor;
    border-color: currentColor;

    input {
      color: currentColor;
    }

    svg {
      @include theme.text-white;
    }
  }
}
