@import '@/variables';

.inputWrapper {
  display: flex;
  border-radius: 10px;
  border: 3px solid #D3D3D3;
  background-color: $light-gray;

  input {
    background-color: $light-gray;
    color: $ung-light-grey;
    border-radius: 7px;
    padding: 10px 15px;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  svg {
    height: 100%;
    width: 40px;
    padding: 5px 8px 5px 11px;
    color: $ung-light-blue;
  }

  &:focus-within {
    background-color: $ung-light-blue;
    border-color: $ung-light-blue;

    input {
      color: $ung-light-blue;
    }

    svg {
      color: $light-gray;
    }
  }
}

