@use '@/themes' as theme;

.link .icon {
  display: inline-block;
  position: absolute;
  width: 0.8em;
  vertical-align: super;
}

.link.noStyle {
  color: inherit;
  text-decoration: none;
}

.link:not(.noStyle) {
  @include theme.text-blue;
  text-decoration: none;

  span {
    border-bottom: 1px solid currentColor;
  }
}
