@use '@/themes' as theme;

.input {
  @include theme.grey-n-white();
  @include theme.border(3px solid);
  @include theme.text-dark;
  border-radius: 10px;
  padding: 10px 15px;

  &:focus {
    @include theme.text-blue;
    border-color: currentColor;
    outline: none;
  }
}
