@import '@/variables';

.tooltipContainer {
  position: relative;
  display: inline-block;

  & > .tooltip {
    display: none;
    background-color: $ung-dark-grey;
    position: absolute;
    left: calc(100% + 6px);
    top: 0.65em;
    transform: translateY(-50%);
    border-radius: 4px;
    padding: 1px 4px;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: $light-gray;
    z-index: 10;
    white-space: normal;
    overflow-wrap: break-word;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 7px solid $ung-dark-grey;
      border-bottom: 5px solid transparent;
      left: -6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.disabled {
      color: white;
      background-color: grayscale($ung-light-blue);
      &:not(.top)::before {
        border-right-color: grayscale($ung-light-blue);
      }
      &.top::before {
        border-top-color: grayscale($ung-light-blue);
      }
    }

    &.top {
      top: auto;
      bottom: calc(100% + 6px);
      left: 50%;
      transform: translateX(-50%);

      &::before {
        left: 50%;
        top: auto;
        bottom: -5px;
        transform: translateX(-50%);
        border-top: 7px solid $ung-dark-grey;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 0;
      }
    }

    &.size-small {
      width: 120px;
    }

    &.size-medium {
      width: 240px;
    }

    &.size-large {
      width: 360px;
    }

    &.text-center {
      text-align: center;
    }
  }

  &:hover > .tooltip {
    display: inline-block;
  }
}
